@font-face {
  src: url('/src/fonts/Roboto-Regular.ttf');
  font-family: 'Roboto';
  font-weight: 400;
}
@font-face {
  src: url('/src/fonts/Roboto-Medium.ttf');
  font-family: 'Roboto';
  font-weight: 500;
}
