<main>
  <div class="container">
    <nav class="navigation">
      <ul class="navigation__genre">
        <li class="navigation__item button">Action</li>
        <li class="navigation__item button">Adventure</li>
        <li class="navigation__item button">Animation</li>
        <li class="navigation__item button">Comedy</li>
        <li class="navigation__item button">Crime</li>
        <li class="navigation__item button">Documentary</li>
        <li class="navigation__item button">Drama</li>
        <li class="navigation__item button">Family</li>
        <li class="navigation__item button">Fantasy</li>
        <li class="navigation__item button">History</li>
        <li class="navigation__item button">Horror</li>
        <li class="navigation__item button">Music</li>
        <li class="navigation__item button">Mystery</li>
        <li class="navigation__item button">Romance</li>
        <li class="navigation__item button">Science Fiction</li>
        <li class="navigation__item button">TV Movie</li>
        <li class="navigation__item button">Thriller</li>
        <li class="navigation__item button">War</li>
        <li class="navigation__item button">Western</li>
      </ul>
    </nav>
    <div class="wrap">
      <ul class="moviesgallery list moviesgallery-box"></ul>
    </div>
  </div>
</main>
