.header {
  height: 230px;
  max-width: 480px;
  margin: 0 auto;
  // width: 100%;
  // max-width: 480px;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  // margin-left: auto;
  // margin-right: auto;
  // background-color: $header-bg-color;
  background: rgba(205, 214, 219, 0.3);

  @include mobile {
    padding: 40px 20px 44px 20px;
  }

  @include tablet {
    padding: 40px 32px 44px 32px;
  }

  @include desktop {
    padding: 40px 32px 44px 32px;
  }

  // @media screen and (max-width: 767px) {
  //   max-width: 480px;
  //   padding: 40px 20px 44px 20px;
  //   height: 230px;
  // }

  // @media screen and (min-width: 768px) {
  //   width: 768px;
  //   padding: 40px 32px 44px 32px;
  //   height: 216px;
  // }

  // @media screen and (min-width: 1280px) {
  //   width: 1280px;
  //   padding: 40px 32px 44px 32px;
  //   height: 216px;
  // }
}
