.header {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 44px;

  @include mobile {
    max-width: 480px;
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // background-color: #3d4179;
  // background-image: url(/src/images/logo/film.svg);

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url('/src/images/heder/header-fone-mob-@1x.jpg');

  @include retina {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('/src/images/heder/header-fone-mob-@2x.jpg');
  }

  @include tablet {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('/src/images/heder/header-fone-tab-@1x.jpg');
    background: url('/src/images/heder/header-fone-tab-@1x.jpg');

    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/heder/header-fone-tab-@2x.jpg');
    }
  }

  @include desktop {
    max-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('/src/images/heder/header-fone-desk-@1x.jpg');

    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/heder/header-fone-desk-@2x.jpg');
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    color: var(--white-text-color);
    max-height: 24px;
    text-transform: uppercase;

    &-wrap {
      display: flex;
      align-items: center;

      @include tablet {
        gap: 8px;
      }

      @include desktop {
        gap: 10px;
      }
    }
  }

  &__logo {
    &-name {
      display: none;

      @include tablet {
        display: block;
        font-size: 30px;
        line-height: calc(35 / 30);
      }
    }
    &-svg {
      fill: var(--white-text-color);
    }
  }

  &__list {
    // position: relative;

    display: flex;
    gap: 20px;

    @include tablet {
      gap: 40px;
    }

    @include desktop {
      gap: 50px;
    }

    &-item {
      position: relative;
    }

    &-current::after {
      position: absolute;

      content: '';
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      margin-top: 2px;
      background-color: var(--accent-menu-color);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 54px;

    row-gap: 20px;

    @include tablet {
      margin-top: 40px;
      justify-content: center;
      align-items: center;
    }

    @include desktop {
      margin-top: 45px;
    }
    &-wrap {
      position: relative;

      display: flex;
      align-items: center;
      width: 100%;

      @include tablet {
        max-width: 336px;
      }

      @include desktop {
        max-width: 393px;
      }

      &:after {
        position: absolute;

        content: '';
        width: 100%;
        height: 0.1px;
        background-color: var(--white-bg-color);
        bottom: -4px;

        @include tablet {
          width: 100%;
        }

        @include desktop {
          width: 100%;
        }
      }
    }

    &-input {
      position: relative;

      font-size: 14px;
      line-height: calc(16 / 14);
      border: none;
      outline: none;
      border-color: transparent;
      background: transparent;

      width: 100%;
      color: var(--white-text-color);
    }

    &-input::-webkit-input-placeholder {
      color: var(--white-text-color);
    }

    &-button {
      position: absolute;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: transparent;
      // color: transparent;
      width: 30px;
      height: 30px;
      cursor: pointer;

      z-index: 10;
      right: -9px;
    }

    &-text {
      font-size: 14px;
      line-height: calc(16 / 14);
      color: var(--accent-menu-color);

      @include tablet {
        max-width: 336px;
        text-align: center;
      }

      @include desktop {
        max-width: 393px;
      }
    }
  }
}

// .nav__link--active::after {
//   content: '';
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   position: absolute;
//   width: 100%;
//   height: 4px;
//   border-radius: 2px;
//   margin-top: 28px;
//   background-color: var(--accent-background-color);
// }
