.header {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 44px;

  @include mobile {
    max-width: 480px;
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // background-color: #3d4179;
  // background-image: url(/src/images/logo/film.svg);

  background-image: linear-gradient(
      to right,
      rgba(87, 150, 233, 0.658),
      rgba(133, 175, 238, 0.3)
    ),
    url('/src/images/heder/header-fone-mob-@1x.jpg');

  @include retina {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('/src/images/heder/header-fone-mob-@2x.jpg');
  }

  @include tablet {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('/src/images/heder/header-fone-tab-@1x.jpg');
    background: url('/src/images/heder/header-fone-tab-@1x.jpg');

    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/heder/header-fone-tab-@2x.jpg');
    }
  }

  @include desktop {
    max-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('/src/images/heder/header-fone-desk-@1x.jpg');

    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/heder/header-fone-desk-@2x.jpg');
    }
  }

  &__menu {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: var(--white-text-color);
    max-height: 24px;
    text-transform: uppercase;
  }

  &__logo {
    margin-right: 61px;
  }
}
