.header {
  width: 100%;
  margin: 0 auto;
  opacity: 0.95;

  max-width: 480px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &-home {
    padding-top: 40px;
    padding-bottom: 44px;

    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
      0 0 0 1px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: var(--sm);

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('/src/images/heder/header-fone-mob-@1x.jpg');

    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/heder/header-fone-mob-@2x.jpg');
    }

    @include tablet {
      max-width: 768px;

      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/heder/header-fone-tab-@1x.jpg');

      @include retina {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
          ),
          url('/src/images/heder/header-fone-tab-@2x.jpg');
      }
    }

    @include desktop {
      max-width: 1280px;

      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/heder/header-fone-desk-@1x.jpg');

      @include retina {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
          ),
          url('/src/images/heder/header-fone-desk-@2x.jpg');
      }
    }
  }

  &-library {
    padding-top: 40px;
    padding-bottom: 60px;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('/src/images/heder/header-library-fone-mob-@1x.jpg');

    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/heder/header-library-fone-mob-@2x.png');
    }
    @include tablet {
      max-width: 768px;

      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/heder/header-library-fone-tab-@1x.jpg');

      @include retina {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
          ),
          url('/src/images/heder/header-library-fone-tab-@2x.jpg');
      }
    }

    @include desktop {
      max-width: 1280px;

      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url('/src/images/heder/header-library-fone-desk-@1x.jpg');

      @include retina {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
          ),
          url('/src/images/heder//header-library-fone-desk-@2x.jpg');
      }
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    color: var(--white-text-color);
    max-height: 24px;
    text-transform: uppercase;

    &-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;

      @include tablet {
        gap: 15px;
      }
    }
  }

  &__logo {
    &-link {
      &:hover,
      &:focus {
        .header__logo-svg use,
        .header__logo-name {
          transform: scale(1.05);
          color: var(--accent-color);
          fill: var(--accent-color);
        }
        .header__logo-svg {
          animation: rotate 2s linear infinite;
        }
      }
    }
    &-name {
      display: none;

      @include tablet {
        display: block;
        font-size: 30px;
        line-height: calc(35 / 30);
      }
    }
    &-svg {
      fill: var(--white-text-color);

      @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }

  &__list {
    display: flex;
    gap: 20px;

    @include tablet {
      gap: 40px;
    }

    @include desktop {
      gap: 50px;
    }

    &-item {
      position: relative;

      &:hover,
      &:focus {
        transform: scale(1.1);
        color: var(--accent-color);
      }
    }

    &-current::after {
      position: absolute;

      content: '';
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      margin-top: 2px;
      background-color: var(--accent-menu-color);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 54px;

    row-gap: 20px;

    @include tablet {
      margin-top: 40px;
      justify-content: center;
      align-items: center;
    }

    @include desktop {
      margin-top: 45px;
    }
    &-wrap {
      position: relative;

      display: flex;
      align-items: center;
      width: 100%;

      @include tablet {
        max-width: 336px;
      }

      @include desktop {
        max-width: 393px;
      }

      &:after {
        position: absolute;

        content: '';
        width: 100%;
        height: 0.1px;
        background-color: var(--white-bg-color);
        bottom: -4px;

        @include tablet {
          width: 100%;
        }

        @include desktop {
          width: 100%;
        }
      }
    }

    &-input {
      position: relative;

      font-weight: 400;
      font-size: 14px;
      line-height: calc(16 / 14);
      border: none;
      outline: none;
      border-color: transparent;
      background: transparent;

      width: 100%;
      color: var(--white-text-color);
    }

    &-input::-webkit-input-placeholder {
      color: var(--white-text-color);
    }

    &-button {
      position: absolute;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: transparent;
      // color: transparent;
      width: 30px;
      height: 30px;
      cursor: pointer;

      z-index: 10;
      right: -9px;
    }

    &-text {
      font-weight: 400;
      font-size: 14px;
      line-height: calc(16 / 14);
      color: var(--accent-menu-color);

      @include tablet {
        max-width: 336px;
        text-align: center;
      }

      @include desktop {
        max-width: 393px;
      }
    }
  }

  &__filter {
    margin-top: 60px;

    &-list {
      display: flex;
      justify-content: center;
      gap: 20px;

      @include tablet {
        gap: 32px;
      }

      @include desktop {
        gap: 40px;
      }
    }
  }
  &__button {
    width: 130px;
    height: 44px;

    // border-radius: var(--md);
    // border: 2px;
    // border-color: var(--white-bg-color);
    // background-color: transparent;

    @include tablet {
      width: 152px;
    }

    // &-text {
    //   text-transform: uppercase;

    //   font-weight: 500;
    //   font-size: 12px;
    //   line-height: calc(16 / 12);
    //   text-align: center;

    //   color: var(--white-text-color);
    // }
  }
}
