.navigation {
  padding-top: 20px;
  display: none;
  //   background-color: aqua;

  @include tablet {
    padding-top: 30px;
    display: block;
  }

  @include desktop {
    padding-top: 44px;
  }
}

.navigation__genre {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
.navigation__item {
  padding: 0.8rem;

  color: var(--dark-color);
  border: 1px solid var(--dark-color);

  &:hover,
  &:focus {
    color: var(--white-text-color);
    border: 1px solid var(--white-bg-color);
  }

  // transition: background 300ms ease-in-out, color 300ms,
  //   transform 300ms ease-in-out;
  //   &:hover,
  //   &:focus {
  //     background-color: #913a00;
  //   }

  //   @media screen and (min-width: $desktop) {
  //     font-size: 14px;
  //     border-radius: var(--sm);
  //   }
}
